li{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
}
ul{
    padding: 0;
}
body{
    background-color: lightslategrey;
}
*{
    margin: 0;
    font-family: Arial;
}
@media screen and (max-width: 766px) {
    @media screen and (max-height: 700px){
        .main{
            height: 100vh;
            width: 100%;
            display: grid;
            grid-template-rows: 15% 15% 70%;
        }
        .header{
            /* background-color: aqua; */
            display: flex;
            justify-content: center;
            align-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        }
        .header > h3 {
            font-weight: 300;
            padding-top: 20px;
            font-size: 1.8rem;
            text-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        .form{
            /* background-color: brown; */
            display: flex;

            align-content: center;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .list{
            /* background-color: blueviolet; */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .listempty{
            width: fit-content;
            background-color: rgb(185 1 1 / 40%);
            padding: 2rem;
            height: 1rem;
            border-radius: 23px;
            transition: 1s;
            border: 3px solid #e9040480;
            color: #f30000;
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        .disabled{
            opacity: 0;
            transition: 1s;
        }
        .enabled{
            opacity: 1;
            transition: 1s;
        }
        .form > form{
            display: grid;
            grid-template-rows: 50% 50%;
        }
        .form > form > div > button {
            background-color: rgb(255 255 255 / 26%);
            border: none;
            display: inline-flex;
            width: 50%;
            justify-content: center;
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        input[type='text']{
            border: none;
            background-color: rgb(255 255 255 / 26%);
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        input[type='text']:focus{
            outline: 0;
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        .task{
            background-color: rgb(255 255 255 / 26%);
            border-radius: 15px;
            box-shadow: 20px 20px 39px #2d2d2d, -20px -20px 39px #696969;
            width: 63%;
            height: 4rem;
        }
        .contenttable{
            width: 100%;
            list-style: none;
            justify-content: center;
            display: block;
            justify-items: center;
        }
        li > p {
            margin-left: 20px;
        }
        li > button {
            background-color: rgb(255 255 255 / 26%);
            margin-right: 30px;
            border-radius: 7px;
            padding: 5px 10px 5px;
            border: none;
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);
        }
    }
}

@media screen and (min-width: 767px) {
    @media screen and (min-height: 559px){
        *{
            margin: 0;
            font-family: Arial;
        }
        .main{
            height: 100vh;
            width: 100%;
            display: grid;
            grid-template-rows: 15% 15% 70%;
        }
        .header{
            /* background-color: aqua; */
            display: flex;
            justify-content: center;
            align-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        }
        .header > h3 {
            font-weight: 300;
            padding-top: 10%;
            font-size: 1.8rem;
            text-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        .form{
            /* background-color: brown; */
            display: flex;

            align-content: center;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
        .list{
            /* background-color: blueviolet; */
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .listempty{
            width: fit-content;
            background-color: rgb(185 1 1 / 40%);
            padding: 2rem;
            height: 1rem;
            border-radius: 23px;
            transition: 1s;
            border: 3px solid #e9040480;
            color: #f30000;
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        .disabled{
            opacity: 0;
            transition: 1s;
        }
        .enabled{
            opacity: 1;
            transition: 1s;
        }
        .form > form{
            display: grid;
            grid-template-rows: 50% 50%;
        }
        .form > form > div > button {
            background-color: rgb(255 255 255 / 26%);
            border: none;
            display: inline-flex;
            width: 50%;
            justify-content: center;
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        input[type='text']{
            border: none;
            background-color: rgb(255 255 255 / 26%);
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        input[type='text']:focus{
            outline: 0;
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
        }
        .task{
            background-color: rgb(255 255 255 / 26%);
            border-radius: 15px;
            box-shadow: 20px 20px 39px #2d2d2d, -20px -20px 39px #696969;
            width: 63%;
            height: 4rem;
        }
        .contenttable{
            width: 100%;
            list-style: none;
            justify-content: center;
            display: block;
            justify-items: center;
        }
        li > p {
            margin-left: 20px;
        }
        li > button {
            background-color: rgb(255 255 255 / 26%);
            margin-right: 30px;
            border-radius: 7px;
            padding: 5px 10px 5px;
            border: none;
            box-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);
        }
        @media screen and (min-width: 1023px) {
            @media screen and (min-height: 607px){
                .header > h3 {
                    font-weight: 300;
                    padding-top: 5%;
                    font-size: 1.8rem;
                    text-shadow: 1.7px 1.2px 0.9px rgba(0, 0, 0, 0.044), 3.8px 2.7px 2px rgba(0, 0, 0, 0.065), 6.4px 4.6px 3.4px rgba(0, 0, 0, 0.08), 9.6px 6.9px 5.1px rgba(0, 0, 0, 0.093), 13.9px 10px 7.4px rgba(0, 0, 0, 0.105), 19.7px 14.2px 10.5px rgba(0, 0, 0, 0.117), 27.9px 20.1px 14.8px rgba(0, 0, 0, 0.13), 40.5px 29.2px 21.5px rgba(0, 0, 0, 0.145), 62.4px 45px 33.2px rgba(0, 0, 0, 0.166), 111px 80px 59px rgba(0, 0, 0, 0.21);;
                }
            }
        }
    }
}